{% extends 'base.html.twig' %}

{% block title %}Envoie de lien de réinitialisation
{% endblock %}

{% block body %}
	<section class='reset-password-send'>
		<p>
			Si un compte est lié à l'adresse fournis, vous receverez un mail contenant un lien de réinitialisation.
							        Ce lien expira dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p>Si vous n'avez pas reçu le mail regardez dans la rubrique spam, ou tentez de réessayer
			<a href="{{ path('app_forgot_password_request') }}">ici</a>.</p>
	</section>
{% endblock %}
