{% extends 'base.html.twig' %}

{% block title %}réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<section class='reset-pass-form'>
		{% for flash_error in app.flashes('reset_password_error') %}
			<div class="error" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<h1>Réinitialiser votre mot de passe</h1>

		{{ form_start(requestForm) }}
		{{ form_widget(requestForm.email, {'attr' : {'placeholder' : 'Email'}}) }}
		<div>
			<small>
				Entrez votre adresse-mail lié à votre compte et nous vous enverons le lien de réinitialisation
			</small>
		</div>

		<button class="btn btn-primary">Envoyer le lien de réinitialisation</button>
		{{ form_end(requestForm) }}
	</section>
{% endblock %}
