{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	<section class="reset-password">
		<h1>Réinitialiser votre mot de passe :</h1>

		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn">Réinitialiser</button>
		{{ form_end(resetForm) }}
	</section>
{% endblock %}
