{% import "macroStar.html.twig" as macroStar %}
{% for review in reviews %}
	<div class="review-container">
		<div class="review-top">
			<p>{{review.user.username}}</p>
			{{macroStar.stars(review.star)}}
		</div>
		<p>{{review.text}}</p>
	</div>
{% endfor %}
<nav>
		{{ knp_pagination_render(reviews) }}
</nav>
