@font-face {
    font-family: 'Alegreya';
    src: url('../../public/fonts/AlegreyaSC-Regular.ttf');
}

@font-face {
    font-family: 'Didact Gothic';
    src: url('../../public/fonts/DidactGothic-Regular.ttf');
}