@font-face {
    font-family: 'Alegreya';
    src: url('../../public/build/fonts/AlegreyaSC-Regular.761091f7.ttf');
}

@font-face {
    font-family: 'Didact Gothic';
    src: url('../../public/build/fonts/DidactGothic-Regular.37c8a8ed.ttf');
}