



/*NavBar*/

#navbar{
    img{
        width: 150px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
    ul{
        display: flex;
        gap: 2em;
        font-family: 'Alegreya';
        a{
            color: $thirdColor;
            text-decoration: underline;
            font-size: 18px;
            &:hover{
                color: $primaryColor;
            }
        }
    }
}

/*Header Banner*/
.header-banner{
    text-align: center;
    gap: 2em;
    background-image: url('/public/image/v-rising.jpg');
    background-position: center;
    padding: 6em;
    background-size: cover;
}

/*Main content*/ 
.main-content{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    margin-top: 2em;
}

/* Search Container */

.search-container{
    border: 2px solid $primaryColor;
    width: 20%;
    padding: 1em;
    form{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-top: 2em;
        padding: 0 10px;
        gap: 1em;
        div{
            display: flex;
            gap: 2em;
            justify-content: space-between;
        }
        #searchBtn{
            margin: auto;
        }
    }
}

/*Server Container*/

.server-container{
    width: 70%;
    margin: auto;
    // >div{
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
        
    //     margin-top: 1em;
    //     background-color: rgb(240, 240, 240);
    //     color: black;
        
    // }
    >div:first-child{
        margin-top: 0;
    }
}

/*server card*/
.server-card{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1em;
    background-color: #E7E7E7;
    gap: 1em;
    .card-left{
        padding: 1em;
        width: 80%;
        h4{
            margin-bottom: 2em;
            color: #AB2B1D;
        }
        p{
            color: black;
        }
    }
    .card-right{
        width: 20%;
        background-color: #F4F4F4;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .review-info{
            color:black;
            font-family: 'Alegreya';
            font-weight: 500;
        }
    }
}

/*server type*/

.PVE{
    background-color: $secondaryColor;
    color: white;
    border-radius: 10px;
    padding:1px 7px;
}

.PVP{
    background-color: #EB5F4E;
    color: white;
    border-radius: 10px;
    padding:1px 7px;
}

.star-container{
    display: flex;
    color: black;
    &>div{
        width: 20px;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
    .full-star{
        background-color: #DC3622;
        color: #DC3622;
    }

    .empty-star{
        background-color: $thirdColor;
    }
}

/*Server Read One*/

.server-info{
    h3{
        text-align: center;
        margin-bottom: 0.5em;
        font-weight: 500;
        color: #EB5F4E;
    }
    .star-container{
        margin-top: 1em;
        margin: auto;
        width: min-content;
        transform: scale(115%);
        margin-bottom: 2em;
        div:not(div:last-of-type){
            margin-right: 5px;
        }
    }
    .PVP{
        width: min-content;
    }
    &>div{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    .label-info{
        color: #EB5F4E;
        font-family: 'Alegreya';
        text-transform: uppercase;
    }
    .server-description{
        background-color: $thirdColor;
        color: black;
        padding: 1em;
    }
    .discord{
        flex-direction: column;
        align-items: center;
        gap: 1em;
        a{
            color: #EB5F4E;
            text-decoration: underline;
        }
    }
}

.separator{
    width: 90%;
    margin: auto;
    background-color: $thirdColor;
    height: 10px;
    margin-bottom: 1em;
}

.reviews-container{
    width: 90%;
    margin: auto;
    h3{
        text-align: center;
        margin-bottom: 1em;
        font-weight: 500;
        color: #EB5F4E;
        text-decoration: underline;
    }
    button{
        margin-bottom: 1em;
    }
    .review-login{
        p{
            text-align: center;
        }
        .btn{
            display: block;
            width: 20%;
            text-align: center;
            margin: 1em auto;
        }
    }
    .user-review{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
        button{
            transform: scale(70%);
        }
    }
    .review-container{
        width: 90%;
        margin: auto;
        background-color: $thirdColor;
        margin-bottom: 1em;
        color: black;
        padding:15px 10px;
        border-radius: 5px;
        .review-top{
            display: flex;
            width: 90%;
            margin: auto;
            justify-content: space-between;
            align-items: center;
        }
        .star-container{
            background-color: white;
            padding: 5px;
            border-radius: 10px;
        }
    }
    #form-review{
        select{
           display: none;
        }
        textarea{
            padding: 5px;
        }
        button{
            width: 25%;
            margin: auto;
            text-align: center;
            margin-top: 1em;
        }
        margin: 1em auto;
        display: flex;
        flex-direction: column;
        .star-container{
            margin: auto;
            margin-bottom: 1em;
            transform: scale(115%);
            gap: 5px;
        }
    }
}