*{
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}

.main-content{
    width: 85%;
    margin: auto;
    display: flex;
}

.server-container{
    width: 70%;
    margin: auto;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
        background-color: rgb(240, 240, 240);
    }
}

.search-container{
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        gap: 1em;
    }
}