{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% for server in servers %}
		<div>
			{{server.name}}
			{{server.type ? 'PVP' : 'PVE'}}
			<p>{{server.description}}</p>
			<a href="{{path('app_server_readOne', {'id' : server.id})}}">Détails</a>
		</div>
	{% endfor %}
{% endblock %}
